@model IEnumerable<YourWorks.Models.AchivementCollection>
@{
    ViewBag.Title = "Главная";
}
<header>
    <div class="main">
        <div class="file-content">
            <div class="file">
                <div class="file-paper">
                    <div class="file-paper-angle">
                    </div>
                </div>
            </div>
            <div class="file-tr">
                <div class="file-paper-tr">
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="content logo">
            <center>
                <div class="emblem"></div>
                <div class="your-works">
                    <h1>Your Works</h1>
                    <h4>Ваши достижения в единой коллекции</h4>

                    <div class="description">
                        <a href="/Account/Profile" class="btn btn-create btn-large">Создать</a>
                    </div>
                </div>
                <div class="clear"></div>
            </center>
        </div>
    </div>
</header>
<div class="wrapper">
    <content>
        <center>
            <h1>Коллекции пользователей <img src="https://img-fotki.yandex.ru/get/5310/91024863.1fe/0_bdae2_e884ddf8_XXL" width="100px"></h1>
            <div class="collection-wrapper">
                @foreach (var item in Model)
                {
                    <div class="collection">
                        <div class="collection-prev">

                        </div>
                        <div class="collection-text">
                            <div class="collection-info">
                                <div class="collection-title">
                                    Flat Design
                                </div>
                                <div class="collection-desc">
                                    Description
                                </div>
                            </div>
                            <div class="collection-stats">
                                <ul>
                                    <li>Работ: 28</li>
                                    <li>Просмотров: 1200</li>
                                    <li>В избранных: 12</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                <div class="clear"></div>
            </div>
        </center>
        <div class="clear"></div>
        <div class="collection-btn-more">
            Показать больше коллекций
        </div>
    </content>
</div>	