@{
    ViewBag.Title = "Главная";
}
<header>
    <div class="header-noise">
        <div class="header-info">
            <div class="text">
                <div class="logo">

                </div>
            </div>
            <a href="/Portfolio/Create" class="btn btn-primary btn-lg">Создать свое портфолио</a>
        </div>
    </div>
</header>
<div class="search-form">
    <div class="text-wrapper">
        <center>
            <h1>
                Поиск по коллекциям
            </h1>
            <form action="" method="post" style="max-width: 300px;">
                <div class="input-group">
                    <input type="text" class="form-control search-field" placeholder="Чтобы бы вы хотели найти?" />
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-info search-btn" value="Искать" />
                    </span>
                </div>
            </form>
        </center>
    </div>
</div>
<content>
    <!--<div class="tabbable">
        <ul class="nav nav-tabs tabs-left">
            <li class="active"><a href="#tab1" data-toggle="tab">Фотосъемка</a></li>
            <li><a href="#tab2" data-toggle="tab">Видеосъемка</a></li>
            <li><a href="#tab3" data-toggle="tab">Искусство</a></li>
            <li><a href="#tab4" data-toggle="tab">Web-дизайн</a></li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane active" id="tab1">
                <div class="col-lg-12">
                    Тут фоточки
                    <img src="~/Content/Images/img1.jpg" />
                    <img src="~/Content/Images/img2.jpg" />
                    <img src="~/Content/Images/img3.jpg" />
                    <img src="~/Content/Images/img4.jpg" />
                    <img src="~/Content/Images/img5.jpg" />
                    <img src="~/Content/Images/img6.jpg" />
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <p>Тут видеосъемка</p>
            </div>
            <div class="tab-pane" id="tab3">
                <p>Тут худ. искусство</p>
            </div>
            <div class="tab-pane" id="tab4">
                <p>Тут веб-дизайн</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>-->
</content>