@{
    ViewBag.Title = "Главная";
}
<header>
    <div class="file-content">
        <div class="file">
            <div class="file-paper">
                <div class="file-paper-angle">
                </div>
            </div>
        </div>
        <div class="file-tr">
            <div class="file-paper-tr">
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content logo">
        <center>
            <div class="emblem"></div>
            <div class="your-works">
                <h1>Your Works</h1>
                <h4>Ваши достижения в единой коллекции</h4>

                <div class="description">
                    Вы можете создать ваше
                    портфолио прямо сейчас!
                    <a href="/portfolio/create" class="btn btn-success btn-large">Создать</a>
                </div>
            </div>
            <div class="clear"></div>
        </center>
    </div>
</header>
<div class="search">
    <div class="search-content">
        <div class="btn-group btn-group-justified">
            <div class="search-title">
                Поиск по коллекциям
            </div>
            <form action="" method="post">
                <input class="search-field" type="text" name="srch-value" placeholder="Поиск">
                <input class="search-btn" type="submit" name="search" value="Искать">
            </form>
        </div>
    </div>
</div>
<div class="wrapper">
    <content>
        <center>
            <h1>Коллекции пользователей <img src="https://img-fotki.yandex.ru/get/5310/91024863.1fe/0_bdae2_e884ddf8_XXL" width="100px"></h1>
            <div class="collection">
                <div class="coll-prev">

                </div>
                <div class="coll-text">
                    <div class="coll-info">
                        <div class="coll-title">
                            Flat Design
                        </div>
                        <div class="coll-desc">
                            Description
                        </div>
                    </div>
                    <div class="coll-stats">
                        <ul>
                            <li>Работ: 28</li>
                            <li>Просмотров: 1200</li>
                            <li>В избранных: 12</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="collection">
                <div class="coll-prev">

                </div>
                <div class="coll-text">
                    <div class="coll-info">
                        <div class="coll-title">
                            Flat Design
                        </div>
                        <div class="coll-desc">
                            Description
                        </div>
                    </div>
                    <div class="coll-stats">
                        <ul>
                            <li>Работ: 28</li>
                            <li>Просмотров: 1200</li>
                            <li>В избранных: 12</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="collection">
                <div class="coll-prev">

                </div>
                <div class="coll-text">
                    <div class="coll-info">
                        <div class="coll-title">
                            Flat Design
                        </div>
                        <div class="coll-desc">
                            Description
                        </div>
                    </div>
                    <div class="coll-stats">
                        <ul>
                            <li>Работ: 28</li>
                            <li>Просмотров: 1200</li>
                            <li>В избранных: 12</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </center>
        <div class="clear"></div>
        <div class="coll-more">
            Показать больше коллекций
        </div>
    </content>
</div>	