@model YourWorks.Models.RedirectViewModel

@{
    ViewBag.Title = "Профиль пользователя";
}

@Html.Action("Header")

<div class="wrapper">
    <content>
        <div class="tabbable">
            @Html.Action(Model.Action, Model.Controller, Model.Model)
        </div>
    </content>
</div>