@{
    ViewBag.Title = "Подтверждение пароля";
}

<div class="wrapper">
    <content>
        <h2>@ViewBag.Title</h2>
        <p>
            Проверьте электронную почту, чтобы сбросить пароль
        </p>
    </content>
</div>

