@{
    Layout = "";
}

<header>
    <div class="profile-bg">
        <div class="file-paper-angle">
        </div>
        <div class="profile-bg-wrapper">
            <div class="profile-info-block">
                <div class="profile-avatar"></div>
                <div class="profile-username">@User.Identity.Name</div>
            </div>
            <ul class="profile-stats">
                <li>Выложено работ<br /><span>127</span></li>
                <li>В избранных<br /><span>283</span></li>
                <li>Просмотров<br /><span>12313</span></li>
                <li>Рейтинг<br /><span>214444</span></li>
            </ul>
        </div>
    </div>
</header>
