@{
    ViewBag.Title = "Подтверждение сброса пароля";
}
<div class="wrapper">
    <content>
        <h2>@ViewBag.Title</h2>
        <p>
            Ваш пароль сброшен. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </content>
</div>